In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kamak\appdata\local\programs\python\python310\lib\site-packages (2.2.2)

[notice] A new release of pip available: 22.2.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy>=1.22.4 in c:\users\kamak\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kamak\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kamak\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kamak\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\kamak\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.2'

In [4]:
lst=[1,2,3,4,5]
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
k=np.array([1,2,3,4])
pd.Series(k)

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
pd.Series(index=['sud','har','sha','an'],data=[1,2,3,4])

sud    1
har    2
sha    3
an     4
dtype: int64

In [8]:
rn={'day1':1,'day2':2,'day3':3}
pd.Series(rn)

day1    1
day2    2
day3    3
dtype: int64

In [7]:
pd.Series(10).repeat(4).reset_index()

   index   0
0      0  10
1      0  10
2      0  10
3      0  10

:

In [7]:
pd.Series([10,20]).repeat([5,2]).reset_index(drop=True)

0    10
1    10
2    10
3    10
4    10
5    20
6    20
dtype: int64